.show {
  display: 'block';
}
.hide {
  display: none;
}
.done {
  color: blue;
  text-decoration: line-through;
}
.todos__todos h1 {
  font-weight: 700;
  font-size: 22px;
}

.todos__container {
  margin-left: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;

  .todos__input {
    background-color: lightgrey;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    flex: 1;
  }
  .todos__todos {
    flex: 8;
    overflow: scroll;
    overflow-x: hidden;
  }
  .todos__todos .header__date {
    margin-bottom: 10px;
  }

  .todos__contents {
    border: 1px dotted black;
    margin-bottom: 16px;

    .todos__header {
      display: flex;
      justify-content: space-between;

      .todos__delBtn {
        margin-left: 20px;
        cursor: pointer;
      }
      .todos__delBtn:hover {
        color: red;
      }
    }

    .todo__container {
      // background-color: gray;
      margin-bottom: 10px;
      cursor: default;
    }
  }

  .todo__content {
    cursor: pointer;
  }
  .todo__content:hover {
    background-color: yellowgreen;
  }

  .submit__btn {
    background-color: yellow;
    border: 1px solid black;
    padding: 10px 16px;
    border-radius: 6px;
  }
}
