::-webkit-scrollbar {
  display: none;
}

.show {
  display: 'block';
}
.hide {
  display: none;
}
.done {
  color: blue;
  text-decoration: line-through;
}
.todo_done {
  opacity: 0.3;
  text-decoration: line-through;
}

.todos__todos h1 {
  font-weight: 700;
  font-size: 22px;
}

.todos__container {
  width: 22rem;
  margin-left: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;

  .header__date {
    margin-bottom: 10px;
  }

  .todos__input {
    display: flex;
    margin-bottom: 20px;
    flex: 1;
    max-height: 50px;

    .input__form {
      flex: 2.5;
    }
    .submit__btn {
      flex: 1;
      margin-left: 10px;
    }
  }
  .todos__todos {
    flex: 8;
    overflow: scroll;
    overflow-x: hidden;
  }

  .todos__contents {
    position: relative;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 10px;
    border-image-repeat: stretch;

    .todos__delBtn {
      // float: right;
      position: absolute;
      top: 0;
      right: 5px;
      font-weight: 700;
    }
    .todos__delBtn:hover {
      color: red;
    }
    .todo__content {
      word-break: break-all;
    }
  }
  .todos__contents:hover {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  .togle_todo_btn {
    width: 4rem;
    height: 2rem;
    line-height: .8rem;
    opacity: 0.5;
  }
  .togle_todo_btn:hover {
    opacity: 1;
  }
}
